maxWidth = 1080px

.main {
  display: flex;
  width: maxWidth;
  margin: 0 auto;
  padding: 20px 0;
}

.sidenav {
  width: 160px;
  padding: 15px;
  border-radius: 3px;
  background-color: #f5f2f0;
}

.sidenav--groupName {
  margin: 0;
  font-size: 16px;
}

.sidenav--list {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  a {
    font-size: 14px;
    line-height: 1.8;
    text-decoration: none;
    color: #666;
  }
  .router-link-active {
    color: #ff5722;
  }
}

.content {
  position: relative;
  flex: 1;
  padding-left: 40px;
}
