body {
  margin: 0;
  padding-bottom: 100px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.markdown-body img {
  background-color: transparent;
}

.markdown-body table {
  display: table;
}

.markdown-body pre code {
  display: block;
  span {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
}

pre, code {
  margin: 0;
}
