/*********** 1px border Start  ***********/

.smart-border-top {
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 1px;
		border-top: 1px solid #c8c7cc;
		transform: scaleY(0.5);
		transform-origin: left top;
	}
}

.smart-border-bottom {
	&:after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1px;
		border-bottom: 1px solid #c8c7cc;
		transform: scaleY(0.5);
		transform-origin: left bottom;
	}
}

/*********** 1px border End  ***********/


/*********** Animation Start ***********/

// smart-anim--fade
.smart-anim--fade-enter-active,
.smart-anim--fade-leave-active {
	transition: opacity .3s
}

.smart-anim--fade-enter,
.smart-anim--fade-leave-active {
	opacity: 0
}

// smart-anim--bottomUp
.smart-anim--bottomUp-enter-active,
.smart-anim--bottomUp-leave-active {
	transition: transform .3s
}

.smart-anim--bottomUp-enter,
.smart-anim--bottomUp-leave-active {
	transform: translateY(100%);
}

// smart-anim--scale
.smart-anim--scale-enter-active,
.smart-anim--scale-leave-active {
	transition: transform .3s
}

.smart-anim--scale-enter,
.smart-anim--scale-leave-active {
  transform: scale(1.1);
}

/*********** Animation End ***********/



