maxWidth = 1080px

.header {
  background: #0d2636;
}

.header--bd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: maxWidth;
  height: 50px;
  margin: 0 auto;
}

.logo {
  flex: 1;
  a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }
}

.header--link {
  padding: 15px 30px;
  color: #f0e9e9;
  font-size: 13px;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

.github {
  width: 28px;
  height: 28px;
  color: #fff;
  svg {
    fill: currentColor;
    vertical-align: text-bottom;
  }
}
